body{
    background: url(https://as2.ftcdn.net/v2/jpg/05/76/76/81/1000_F_576768172_qdgLgkktt8JLF4tFAeeh2HVA1wCtlO2k.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
div img{
    width: 200px;
}